/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
    /* colors */
    --background-color: white;
    --light-color: #f8f8f8;
    --mlc-light-color: #faf8f4;
    --mlc-light-gray:#f6f8f8;
    --light-pink-color: #fff4f4;
    --dark-color: #505050;
    --text-color: #131313;
    --link-color: #3b63fb;
    --link-hover-color: #1d3ecf;
    --button-color: #fead1e;
    --button-hover-color: #ea9501;
    --button-secondary-color: #ffffff;
    --button-secondary-hover-color: rgba(37,40,40,.1);

    /* fonts */
    --body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --heading-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;

    /* body sizes */
    --body-font-size-m: 22px;
    --body-font-size-s: 19px;
    --body-font-size-xs: 17px;

    /* heading sizes */
    --heading-font-size-xxl: 55px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 34px;
    --heading-font-size-m: 27px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;

    /* Button Sizes */
    --button-font-size: 16px;

    /* nav height */
    --nav-height: 64px;
}

/* fallback fonts */
@font-face {
    font-family: roboto-condensed-fallback;
    size-adjust: 88.82%;
    src: local("Arial");
}

@font-face {
    font-family: roboto-fallback;
    size-adjust: 99.529%;
    src: local("Arial");
}

@media (width >= 900px) {
    :root {
        /* body sizes */
        --body-font-size-m: 18px;
        --body-font-size-s: 16px;
        --body-font-size-xs: 14px;

        /* heading sizes */
        --heading-font-size-xxl: 45px;
        --heading-font-size-xl: 36px;
        --heading-font-size-l: 28px;
        --heading-font-size-m: 22px;
        --heading-font-size-s: 20px;
        --heading-font-size-xs: 18px;
    }
}

body {
    display: none;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-m);
    line-height: 1.6;
}

body.appear {
    display: block;
}

header {
    height: var(--nav-height);
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    font-family: var(--heading-font-family);
    font-weight: 600;
    line-height: 1.25;
    scroll-margin: 40px;
}

h1 {
    font-size: var(--heading-font-size-xxl);
}
h2 {
    font-size: var(--heading-font-size-xl);
}
h3 {
    font-size: var(--heading-font-size-l);
}
h4 {
    font-size: var(--heading-font-size-m);
}
h5 {
    font-size: var(--heading-font-size-s);
}
h6 {
    font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
}

code,
pre {
    font-size: var(--body-font-size-s);
}

pre {
    padding: 16px;
    border-radius: 8px;
    background-color: var(--light-color);
    overflow-x: auto;
    white-space: pre;
}

main > div {
    margin: 40px 16px;
}

input,
textarea,
select,
button {
    font: inherit;
}

/* links */
a:any-link {
    color: var(--link-color);
    text-decoration: none;
    overflow-wrap: break-word;
}

a:hover {
    color: var(--link-hover-color);
    border-bottom: 3px solid var(--button-color);
    padding: 24px 0 19px;
}

/* buttons */
a.button:any-link,
button {
    box-sizing: border-box;
    font-size: var(--button-font-size);
    margin: 12px 0;
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 12px 30px;
    font-family: var(--body-font-family);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
    border-color: var(--button-color);
    background-color: var(--button-hover-color);
    text-decoration: none;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    a.button:any-link,
    button {
        font-size: 15px;
        padding: 12px 10px;
        white-space: normal;
        text-overflow: clip;
        width: 100%;
        margin: 10px 0;
    }
    a.button.secondary,
    button.secondary {
        font-size: 15px;
        padding: 12px 10px;
        width: 100%;
        margin: 10px 0;
    }
}

button:disabled,
button:disabled:hover {
    background-color: var(--light-color);
    cursor: unset;
}

a.button.secondary,
button.secondary {
    background-color: unset;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}
a.button.secondary:hover,
button.secondary:hover {
    background-color: var(--button-secondary-hover-color);
    color: var(--text-color);
}

.cta-yellow a.button{
  background-color: #fead1e;
  border-radius: 100px;
  color: #252828;
  border: none;
}

main img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.icon img {
    height: 100%;
    width: 100%;
}

/* sections */
main > .section {
    margin: 40px 0;
}

main > .section > div {
    max-width: 1500px;
    margin: auto;
    padding: 0 24px;
}

main > .section:first-of-type {
    margin-top: 0;
}

@media (width >= 900px) {
    main > .section > div {
        padding: 0 32px;
    }
}

/* section metadata */
main .section.light,
main .section.highlight {
    background-color: var(--mlc-light-color);
    margin: 0;
    padding: 40px 0;
}
main .section.light,
main .section.light-gray {
    background-color: var(--mlc-light-gray);
    margin: 0;
    padding: 40px 0;
}

main .section.light-pink {
    background-color: var(--light-pink-color);
    margin: 0;
    padding: 40px 0;
}

.default-content-wrapper {
    h1,
    h2,
    h3,
    a:any-link {
        text-align: center;
    }
}
.centeralign p {
  text-align: center;
}
